{% if breadcrumb %}
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
            {% for item in breadcrumb %}
                {% if item.url %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% else %}
                    <li class="current">{{ item.text }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}