<div class="page-wrapper">
    
    <div class="row header">
        <div class="large-12 medium-12 small-12 columns">
            {{ page.header }}
        </div>
    </div>
        
    {{ breadcrumb }}
        
    <div class="row center">
        <div class="large-3 medium-3 small-3 columns">
            {{ page.left_sidebar }}
        </div>
        <div class="large-9 medium-9 small-9 columns">
            
            {{ title_prefix }}
            {% if title %}
                <h1 class="title" id="page-title">
                    {{ title }}
                </h1>
            {% endif %}
            {{ title_suffix }}
            {% if tabs %}
                <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
                    {{ tabs }}
                </nav>
            {% endif %}
            {{ page.help }}
            {% if action_links %}
                <ul class="action-links">
                    {{ action_links }}
                </ul>
            {% endif %}
            
            {{ page.content }}
        </div>
    </div>
        
    <div class="row footer">
        <div class="large-12 medium-12 small-12 columns">
            {{ page.footer }}
        </div>
    </div>
    
</div>