{% if items %}
    <ul class="pagination">
    {% if items.first %}
        <li class="arrow unavailable">
            <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes }}>
                &laquo;
            </a>
        </li>
    {% endif %}
    {% if items.previous %}
        <li class="arrow unavailable">
            <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes }}>
                &lsaquo;
            </a>
        </li>
    {% endif %}
    
    {% for key, item in items.pages %}
        <li {{ current == key ? ' class="current"' : '' }}">
            {% if current == key %}
                {% set title = 'Current page'|t %}
            {% else %}
                {% set title = 'Go to page @key'|t({'@key': key}) %}
            {% endif %}
            <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes }}>
                {{- key -}}
            </a>
        </li>
    {% endfor %}
    
    {% if items.next %}
        <li class="arrow">
            <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes }}>
            &rsaquo;
            </a>
        </li>
    {% endif %}
    {% if items.last %}
        <li class="arrow">
            <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes }}>
            &raquo;
            </a>
        </li>
    {% endif %}
    </ul>
{% endif %}
