{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% for row in items %}
    <div class="row">
    {% set width_col = 12/row.content|length %}
    {% for column in row.content %}
        <div class="large-{{ width_col }} columns">
            {{ column.content }}
        </div>
    {% endfor %}
    </div>
{% endfor %}
